[2020-11-05 06:42] sdqinhao opened #1 "Forwarding multiple ports to the container failed"
[code]

[2020-11-08 23:50] #1 closed

[2020-11-08 23:51] sonicaj commented on #1
Thank you @sdqinhao for reporting this, please use the version `2010.0.2` for deploying your workload.

[2020-11-29 10:08] sdqinhao opened #6 "Field was not expected because of conditional validation specified for 'hostPortsList'"
[code]

[2020-11-30 13:50] #6 closed

[2020-12-21 18:16] Ornias1993 opened #18 "[Feature] Add Redis to Nextcloud"
Redis is currently one of the most used additions when running nextcloud.
Adding it to a helmchart is rather easy and would improve user experience bigtime.

[2020-12-21 18:17] Ornias1993 opened #19 "[Feature] Allow custom DB server for nextcloud"
Having an integrated DB server in the nextcloud App is nice, but we might want to allow users to able to set their own DB settings.
Either they want a single-central DB server, A specific DB-server or they want a high-available DB server like percona.

All those cases would be covered on the nextcloud side of things, by simply allowing to specify db settings manually.

[2020-12-22 09:05] Ornias1993 opened #21 "[Feature] Allow not setting nodeport"
Some users (for example: those using a reverse proxy) might not want to use a nodeport.
However: currently nodeport is required.

[2020-12-22 10:52] Ornias1993 opened #22 "[feature] Grab questions.yaml defaults from values.yaml"
It is needlessly tedieus having to enter the defaults multiple times and might lead to mistakes.

[2020-12-26 13:36] sonicaj commented on #22
@Ornias1993 this is not desirable with conditionals like `show_if. So we only want to conditionally populate some attributes values, which if we use `values.yaml`, have to be very careful to make sure we don't make any mistake and even with that it has the tendency to fail in some cases where we don't want to conditionally specify a default value for a variable as this condition is evaluated on ru

[2020-12-26 13:49] Ornias1993 commented on #22
Maybe... because that behavior isn't actually documented? ;-)

But if thats the case, this issue can be closed... as only one default is actually present 👍

[2020-12-26 13:49] #22 closed

[2020-12-28 22:13] Ornias1993 commented on #21
I myself fixed it like this:
Fixing the serviceport and container port and only using `nameService.port` for either nodeport or Hostport.
This gives me the room to slightly alter the service to skip the "type" tag if it isn't either a nodeport or hostport situation.
Skipping the type tag for a port, should default to ClusterIP.

See:
https://github.com/truecharts/truecharts/commit/4b64ea3543006ef8

[2020-12-30 14:28] Ornias1993 commented on #19
That being said:
It might be worth looking for another upstream chart that already implements this...

[2020-12-30 18:59] Ornias1993 opened #23 "Add more verbosity to the CI when running Helm Test"
Currently when the CI `helm test` or `helm install`  fails, it's not always clear why...
This ends up being a guessing game, when local runs of helm test work fine.

It would be nice if we could get a little more verbosity from the CI....

That being said: The default for  `helm test` or `helm install` isn't verbose too and I'm not sure if you could make it more verbose.

To explain the problemati

[2021-01-01 13:54] Ornias1993 opened #25 "hide library charts"
It would be nice to be able to use the CI on library charts, but ignore them from actually being shown in the "Apps" screen.

Current hack I did to hide a library chart from the CI (because the CI is incompatible with Library charts at the moment)::
Put it in the root folder with a dot `.` in front of a folder name in the root of the repository.

However, it would be nice if we would be able to us

[2021-01-02 11:04] Ornias1993 commented on #25
Current trick I did to hide a library chart:
Put it in the root folder with a dot `.` in front of the name

[2021-01-03 10:49] sonicaj commented on #25
@Ornias1993 can you please clarify `library chart` ? The terminology we have had in mind so far was that the directories in the root folder are `trains` like stable ( which is `chart` ). Can you please confirm if perhaps you are referring to a `library` train ?

[2021-01-03 10:53] sonicaj commented on #21
@Ornias1993 can you please clarify which chart you refer to which has a requirement of using `Node Port` service ? Am I correct in assuming that you don't refer to `ix-chart` here and the other supported charts ( nextcloud etc ) we have default to using `Node Port` ? However in your use case you use reverse proxy and don't want them to use `Node Port` ?

[2021-01-03 11:04] Ornias1993 commented on #21
All your charts as far as i'm aware do NOT support clusterIP. It's either hostnetwork/hostport or nodeip.
Which is extremely non-standard.

[2021-01-03 11:05] Ornias1993 commented on #25
If you don't know what a library chart is, I think you need a readup on Helm.
No offense intended, but I don't think i'm the best person to explain what a "library chart" is and why you don't want to show those as Apps nor want to run your CI on them.

[2021-01-17 14:46] sonicaj commented on #25
Thank you for clarifying @Ornias1993, your original comment did not elaborate it which left me confused as library charts don't have to be at the top level or any specific level for that. Anyways, it's a good suggestion and I think we can certainly make space for this.

[2021-01-19 14:06] #25 closed

[2021-01-30 11:28] sonicaj commented on #23
This commit should fix this https://github.com/truenas/catalog_validation/commit/d5510a1eb30ba1f4062bf607c9a66b6ffb148782

[2021-01-30 11:28] #23 closed

[2021-01-30 11:30] Ornias1993 commented on #23
It should indeed, thanks! :)

[2021-03-01 12:27] Ornias1993 commented on #19
After some good discussion with a friend of mine, the current design is actually current-day best-practice:
1 App - 1 DB Instance - 1 Database

[2021-03-01 12:27] #19 closed

[2021-03-08 20:26] #21 closed

[2021-03-19 22:53] docwhite opened #43 "HTTPS: Securing Nextcloud with SSL?"
Hello, thanks for taking the time to compile the various apps.

I wanted to know how can you manage the Nextcloud application to be run under HTTPS instead of HTTP.

I can think of the solution of using Cloudflare's Free SSL, but I was wondering it it would be possible to configure TrueNas SCALE or contributing to the chart to add some sort of reverse proxy in front that simply enables SSL.

I can

[2021-03-19 23:01] docwhite opened #44 "Developer guide for this project would be very helpful"
Hello :)

Could I ask how do you manage to iterate the development of this project? I would like to fork the project and have a little play with it to see if I could get Nextcloud to have HTTPS.

I am not familiarized with the development practices within the project.

Are there any resources out there that might help or point on how to test my changes in case I were to fork it?

I am reading http

[2021-03-20 13:46] sonicaj commented on #44
Hi @docwhite, thank you for your interest. So basically you can fork this repository and add your repository as a separate catalog with
[code]

So now it should show up in the UI and you can make adjustments to nextcloud chart. You can verify if TN recognizes your chart as valid wrt valid format and `questions.yaml`, you can run
[code]

You don't need to use CLI now to create the chart release and

[2021-03-20 13:46] #44 closed

[2021-03-20 13:54] sonicaj commented on #44
Added this information in dev notes as well :) https://github.com/truenas/documentation/pull/704

[2021-03-20 13:55] docwhite commented on #44
Thanks @sonicaj for your reply.

I will do that.

Is there any help commands to whatever else I can do with the catalog calls? `midclt call catalog.help` or any way I could see what commands does it offer.

Thanks for updating the dev notes!

[2021-03-20 13:59] sonicaj commented on #44
@docwhite you can access documentation for TrueNAS at `http://SYSTEM_IP/api/docs/` and there please refer to `catalog.*` endpoints, they add more detail to the parameters in question and what the endpoint does.

[2021-03-20 14:01] sonicaj commented on #43
@docwhite can you please create a suggestion ticket at https://jira.ixsystems.com ? We track open items there

[2021-03-20 14:01] #43 closed

[2021-03-20 14:01] docwhite commented on #43
I have been reading more about it and it seems what I am interested with in k8s terminology is an **Ingress**.

I am happy to help and investigate how to add for instance the nginx ingress into the nextcloud catalog app.

But I wanted to make sure the Helm chart is the place where should be done. I am not familizared with the whole architecture of TrueNAS, so maybe you guys already have something

[2021-03-20 14:02] docwhite commented on #43
Great! Doing that!

[2021-03-20 14:04] sonicaj commented on #43
Yes that is accurate, although i see 2 solutions for this. You can perhaps use Ingress or maybe consume a certificate which is present in TN Scale Certificate's section for nextcloud and it should/can use https in that case. So both can be done, the latter is perhaps more easily achievable as we have not officially configured ingress in our k8s cluster yet. Btw we can do the same with ingress as w

[2021-03-20 14:17] docwhite commented on #43
That makes much more sense!

I will investigate how to achieve passing the TN certificates to the SSL configuration of Nextcloud.

[2021-03-20 14:21] sonicaj commented on #43
Cool, please have a peek at https://github.com/truenas/charts/tree/master/test/minio/1.2.1 - minio consumes TN's certificate subsystem to secure traffic over HTTPS. Good luck with it ;)

[2021-03-20 14:44] docwhite commented on #43
Created the ticket: https://jira.ixsystems.com/browse/NAS-109886

[2021-03-20 14:45] docwhite commented on #43
Here's some interesting links:

* https://docs.nextcloud.com/server/21/admin_manual/installation/harden_server.html?#use-https
* https://docs.nextcloud.com/server/21/admin_manual/configuration_server/config_sample_php_parameters.html?highlight=ssl#proxy-configurations
* https://docs.nextcloud.com/server/21/admin_manual/installation/source_installation.html#enabling-ssl
* https://docs.nextcloud.com

[2021-03-21 17:28] docwhite opened #45 "How to update parameters UI while developing a chart"
Hello,

I am experimenting by bringing the `test/minio/1.2.1` into `charts/minio/1.2.1` and changing or adding the `questions.yaml` so that I can see how to include extra fields on the UI that shows when you want to install an app from the catalog.

I have no success, I am working on my own fork, and I install it by:

[code]

And even after changing some parameters they won't reflect on the UI.

I

[2021-03-22 10:31] sonicaj commented on #45
@docwhite can you please confirm where you are making edits after adding the catalog ? Are you making the edit and then pushing to github and then using `catalog.sync` or are you editing directly under `/mnt/POOLNAMEHERE/ix-applications/catalogs/repo_path/` and then seeing if the changes are reflected ?

[2021-03-22 11:47] docwhite commented on #45
I tried doing both.

I first moved the minio from test to charts and just after that I added a test parameter, expecting it to see it reflected:

https://github.com/docwhite/charts/compare/master...docwhite:temp#diff-702ebe9d6219bc28256e1cf99980c0a5d3ad1953df9a496e485552ddfa387c00

Sorry for the absurd variable name >.< I do it that way so I never push it to master, since it's easy to spot.

[code

[2021-03-22 12:03] sonicaj commented on #45
So if you push to github and then use `catalog.sync` it should update and reflect in the UI as well ( you would need to refresh your screen in the UI though or move to another tab like Dashboard etc so UI retrieves new data about the catalog when you move to Applications ). If that does not happen, please lay out exact steps for me and i can replicate and try to reproduce :)

About the other metho

[2021-03-22 12:26] docwhite commented on #45
Thanks again @sonicaj. I will give it a whirl tonight and provide reproduction steps if the issue persists.

[2021-03-22 13:31] sonicaj commented on #45
Awesome, closing this issue. If it persists, please feel free to comment here again. Thanks!

[2021-03-22 13:31] #45 closed

[2021-03-22 19:21] docwhite commented on #45
Hello @sonicaj, I tried again and I cannot see it.

Reproduction steps:

[code]

Here's the commit where I added an extra item in `questions.yaml`: https://github.com/docwhite/charts/commit/9c1d2d8c10442c2cea93dee4490e4ae3a0d4a29e

[2021-03-22 19:31] sonicaj commented on #45
@docwhite it's a known issue that if you have a catalog item having the same name as one of the catalog items in the `OFFICIAL` catalog, UI shows schema from the `OFFICIAL` catalog instead of showing the correct one. This is a WIP at the moment and we are fixing it in the UI. Can you please rename `minio` to maybe `minio2` and try it out ?

[2021-03-24 18:52] docwhite commented on #45
Indeed! That was the problem! Now my UI reflects the changes! Thanks for your help.

[2021-03-24 18:58] sonicaj commented on #45
You are welcome

[2021-03-24 19:43] docwhite commented on #43
Could you please point me to where the `defeinitions` are?

In `features_capability.json` it shows:

[code]

I was wondering where could I inspect those.

[2021-03-25 06:24] sonicaj commented on #43
@docwhite you can consider these attributes as special invocations where the system modifies the schema of the attribute in question and adds some more interesting data. In the specific case you have pointed out, if that is specified, TrueNAS will show certificates configured/found in the TrueNAS database for the field/attribute in question ( please refer to minio tests train questions.yaml to see

[2021-03-25 08:25] docwhite commented on #43
Thanks for your answer. Yes, that was my intuition, it augments the object. That's why I was curious about where in the code base does the logic for this augmentation live. You mentioned TrueNAS database, but I believe there must be some business logic too. I ask for this because I'd like to see how it expands the certificate path into the various attributes. But if this code is difficult to get o

[2021-03-25 08:36] sonicaj commented on #43
@docwhite the logic for conversion is done by TrueNAS, it's done here https://github.com/truenas/middleware/blob/82557c0046fcb9f67ea3215534046535b733d5f4/src/middlewared/middlewared/plugins/catalogs_linux/items.py#L233. I am not sure of what you are trying to achieve, this is just supposed to be specified simply and the system can make the changes itself, if you can let me know a bit about that, t

[2021-03-26 19:24] docwhite commented on #43
OK, I am not sure I understand, but I believe I wouldn't need to get that deep to just make use of that definition.

The problem I'm having is that it won't allow me to use that definition.

When I create the app with the new field, just as you did with minio, I type in a `1`, because I cannot type and I do not know what to type. I was thinking of typing `/etc/certificates/freenas_default` or `fre

[2021-03-26 19:28] sonicaj commented on #43
@docwhite please update your TrueNAS Scale system to latest nightlies as that feature is not supported on your OS version. If the problem persists, please let me know, thank you.

[2021-03-27 13:50] Ornias1993 commented on #43
For quick reference:
TrueCharts already supports HTTPS for all Apps, using traefik Ingress. For the official plugins (as there won't be that many for some time), adding certificates manually is fine... but it's a rather non-standard way of doing things, in the long term and bigger scale ingress is the way to go :)

The new version (staging branch, will be merged into master as soon as 21.04 launch

[2021-03-27 15:26] docwhite commented on #43
That's great news to hear!

Is there any way I can test it before the 21.04 release? I am on the nightlies train. The `staging` branch I imagine it's the branch for the `truenas/apps` project. I know how to install specific branches of the `trenas/charts` projects. @sonicaj showed me how to install specific branches of a catalog, but I imagine, @Ornias1993 , that this changes in `staging` are in a

[2021-03-27 15:34] Ornias1993 commented on #43
@docwhite

A week ago you could, but currently we prepared for some changes to the UI that aren't merged into nightly yet. So currently our staging branch can not be added in the UI. More information is available in the PR:
https://github.com/truecharts/apps/pull/216

to be honest, @sonicaj showed you the most complicated way to do so...

- Go to you shell of choice (either SSH or the TrueNAS webu

[2021-03-27 17:05] docwhite commented on #43
@Ornias1993 Thanks for the detailed response and for the second way of interacting with catalogs! I will wait and keep an eye on the PR! I'm so happy to see your work on that area coming soon.

[2021-04-09 19:46] cdgriffith opened #50 "PLEX deployment stuck in loop when set to "Required Encryption""
The deployment only checks on http https://github.com/truenas/charts/blob/master/charts/plex/1.1.0/templates/deployment.yaml#L51

In plex you can set network connects to force HTTPS (Settings > Network > Secure Connections > Required)

Which can result in the probe to continuously fail even on clean starts, will see messages like:

[code]

It needs to have at least a fallback to `https` if `http`

[2021-04-09 19:47] sonicaj commented on #50
Thank you @cdgriffith for letting us know about it. This has been fixed by https://github.com/truenas/charts/pull/42 but hasn't made it to `charts` ( stable ) train yet.

[2021-04-09 19:47] #50 closed

[2021-04-26 15:02] b10102016 opened #51 "How to install library to nextcloud app?"
Hi,

I recently installed the Nextcloud, and it works like a charm, thanks for your great work!

However, when I trying to install app "Face Recognition", it said "App "Face Recognition" cannot be installed because the following dependencies are not fulfilled: The library pdlib is not available. The library bz2 is not available."

Could you give a guide to install these library?

Thanks
Ian

[2021-04-26 15:11] sonicaj commented on #51
@b10102016 we are using official nextcloud docker image and it seems they would not have it available. I would advise you to create an issue with them so that they can include these in the official docker image. Please let me know if you think this might be an issue on our end. Thank you

[2021-04-26 15:13] sonicaj commented on #51
Actually, can you please confirm if you are referring to an application "Face recognition" and not something which might be in nextcloud ? If yes, can you please confirm in which catalog the application is coming from as it's not provided with the OFFICIAL one ?

[2021-04-27 11:25] b10102016 commented on #51
The app is installed to the Nextcloud. For typical docker image, I can modify it (ex: install the dependency from apt or manual compile) and commit change to the image, but I don't know how to do that on Kubernetes. May I ask for a guide for this?

Thanks

[2021-04-30 16:05] #51 closed

[2021-05-11 20:12] jfturcot opened #56 "[Feature] Add an extra plotting host path for Chia"
Plotting on ZFS is much faster than on other filesystems on regular spinning hard drives, but I would like to be able to use a separate SSD only pool for plotting. Could you please add an extra host path for that use case?

Thank you for creating this Chia app, it works a lot better than their Docker container and was a nice surprise to see it in the official applications after fighting with their

[2021-05-11 20:16] sonicaj commented on #56
@jfturcot to be clear, you would like to be able to specify a host path for `plot` volume ? `plot` volume is what's mounted inside the pod/container at `/plots`

[2021-05-11 20:19] jfturcot commented on #56
Sure that could work, or maybe /plots/tmp since they call it a tmp_dir on the command line. Thanks!

[2021-05-11 20:21] sonicaj commented on #56
So the application already supports it - we have a UI bug where that option is not showed when you click on the boolean value which says use host path volume. You can use the command line to test it out

[code]

In this case both `config` and `plot` volumes are consuming host paths.

[2021-05-11 20:22] sonicaj commented on #56
Please let me know if you run into issues with the above command.

[2021-05-17 17:54] Saberwolf64 opened #60 "Missing the ability to define docker image version"
in the latest release of plex app user are now unable to define plex docker image version even after manually changing version number oh local copy

[2021-05-17 18:35] sonicaj commented on #60
@Saberwolf64 that is desired behavior. We would be bumping docker image versions for users.

[2021-05-17 18:38] Saberwolf64 commented on #60
please provide a way for manual override you are behind by 4 days on current image to latest for user that like to be up to date

[2021-05-18 17:09] #60 closed

[2021-05-18 17:11] sonicaj commented on #60
@Saberwolf64 we are looking to automate this so that we are not that far behind when upstream has newer tags available. I appreciate your concern, thank you for letting us know about it.

[2021-05-18 20:50] Saberwolf64 commented on #60
Thanks for clarification change tag to latest then you will always have the most current one
________________________________
From: Waqar Ahmed ***@***.***>
Sent: Tuesday, May 18, 2021 10:12:15 AM
To: truenas/charts ***@***.***>
Cc: Saberwolf64 <Thomas_merrill@Live.com>; Mention ***@***.***>
Subject: Re: [truenas/charts] Missing the ability to define docker image version (#60)

@Saberwolf64<https:

[2021-05-18 21:53] Saberwolf64 commented on #60
Then you can add a known default as a backup or roll back
________________________________
From: Thomas Merrill ***@***.***>
Sent: Tuesday, May 18, 2021 1:50:40 PM
To: truenas/charts ***@***.***>; truenas/charts ***@***.***>
Cc: Mention ***@***.***>
Subject: Re: [truenas/charts] Missing the ability to define docker image version (#60)

Thanks for clarification change tag to latest then you will al

[2021-05-21 16:18] bslavin opened #62 "Chia App Version Bump"
It looks like Chia has bumped versions - 1.1.6

https://github.com/Chia-Network/chia-blockchain/releases

Would it be possible for you to bump the version of the official, or maybe allow us to do this on our local app?

The request is related to known syncing issues in the earlier version. Reports here https://www.reddit.com/r/chia/comments/m674ea/full_node_stuck_in_not_synced/ state they are reso

[2021-05-21 16:24] sonicaj commented on #62
@bslavin chia does has an updated docker image yet - https://github.com/orgs/chia-network/packages/container/package/chia

[2021-05-21 16:24] sonicaj commented on #62
I had created an issue upstream about it https://github.com/Chia-Network/chia-docker/issues/58

[2021-05-22 13:30] jfturcot commented on #62
1.1.6 docker image is now available, hopefully this will fix my Full Node which haven't been able to completely sync since I rebooted my server.
https://github.com/orgs/chia-network/packages/container/chia/2666209?tag=1.1.6

[2021-05-22 22:45] #62 closed

[2021-06-05 18:12] Saberwolf64 opened #65 "Plex version update"
Could we please pull the latest Plex version into the Apps

You are currently running version 1.23.1.4602 on the server "TruePlex". Version 1.23.2.4656 is now available.

is the latest tag 1.23.2.4656-85f0adf5b

thank you for your continued efforts @sonicaj

[2021-06-05 18:15] #65 closed

[2021-06-05 18:16] Saberwolf64 opened #66 "Plex update"
Could we please pull the latest Plex version into the Apps

You are currently running version 1.23.1.4602 on the server "TruePlex". Version 1.23.2.4656 is now available.

is the latest tag 1.23.2.4656-85f0adf5b

thank you for your continued efforts @sonicaj

[2021-06-07 11:07] #66 closed

[2021-06-10 23:37] #18 closed

[2021-06-27 05:28] mxhi opened #73 "Request to add EMBY SERVER"
Can emby be increased?

[2021-06-27 18:43] Saberwolf64 opened #74 "Plex server update"
You are currently running version 1.23.2.4656 on the server "TruePlex". Version 1.23.3.4707 is now available.
could we get a push to the latest docker image @sonicaj thanks for all your hard work

[2021-06-27 18:44] Saberwolf64 commented on #74
1.23.3.4707-ebb5fe9f3
is the latest plexinc/pms-docker image tag

[2021-06-27 23:23] chrisfoster121 opened #78 "Nextcloud server app not configurable due to volume persistency"
I recently tired to install the Nextcloud app and was trying to set up https as per the documentation (Nextcloud documentation deems it mandatory). However, the files that need to be changed to do this are in docker volumes that are non-persistent. From what can tell there is no way to keep these files from being reset after a container restart. Please let me know if I am wrong or if there is a so

[2021-06-30 12:33] Saberwolf64 commented on #74
i see we have done the commits to a test branch but we have not merged them to the main

[2021-07-01 13:37] sonicaj commented on #78
@chrisfoster121 can you please create a ticket at https://jira.ixsystems.com and please add information for what you tried ? We do not have added explicit https support yet for nextcloud but i think that would be good to move forward with.

[2021-07-01 13:37] #78 closed

[2021-07-01 13:41] sonicaj commented on #73
@mxhi can you please create a suggestion ticket at https://jira.ixsystems.com and we can cater to it then ? Thank you

[2021-07-01 13:41] #73 closed

[2021-07-01 14:32] #74 closed

[2021-07-01 19:40] chrisfoster121 commented on #78
Bug report added: https://jira.ixsystems.com/browse/NAS-111274

------------------

Additional info:
The file that needs to be changed for this are the virtual host (VH) files for apache. Within the nexctcloud docker container, I believe the file resides in something like "/etc/apache/enabled-sites/". More information can be found here: https://docs.nextcloud.com/server/latest/admin_manual/install

[2021-08-10 18:45] joshuacox opened #116 "MINIO_ACCESS_KEY and MINIO_SECRET_KEY are deprecated."
[code]

[2021-08-16 14:26] #116 closed

[2021-08-31 09:28] g-a-c opened #133 "Machinaris can't start `plotman` due to missing `/dev/tty`"
Described in https://github.com/guydavis/machinaris/issues/94 - the Machinaris Chart deployed from the official repo cannot start `plotman` due to the missing `/dev/tty` device.

A workaround is for users to manually edit the Kubernetes `Deployment` but this should probably be included in the chart so that this doesn't have to be done on every upgrade.

[2021-08-31 11:37] #133 closed

[2021-09-12 07:50] Blazin64 opened #143 "Plex has no TV tuner hardware access"
One of Plex's major features is the ability to view and record TV broadcasts. Unfortunately, the current chart does not have access to the `/dev/dvb/` directory. This prevents the use of USB and PCIe-based TV tuner devices.

It would be fantastic if TV tuner access could be implemented for the Plex chart.

I don't know how much this would involve, but I'm guessing this would at least require a Kub

[2021-09-22 08:21] peterge1998 opened #163 "Nextcloud Error Cannot create or write into the data directory /mnt/main/nextcloud/users"
Hi, i have `/mnt/main/nextcloud/users` added for the Nextcloud data directory.
The Host Path for Nextcloud Data Volume is on `/mnt/main/nextcloud/data`.
I get this error on the nextcloud setup page:
![image](https://user-images.githubusercontent.com/47355238/134308105-597eda44-0ab6-4154-b2e4-0e760f76b121.png)
I bet its a permission issue. Which permissions are missing on `/mnt/main/nextcloud/` use

[2021-09-22 17:20] peterge1998 commented on #163
Hm. I am stupid.
 Nextcloud data directory is the path from inside of the container. The default `/var/www/html/data` is fine...

[2021-09-22 17:20] #163 closed

[2021-10-20 06:28] Ornias1993 commented on #143
Im telling you you dont need the Jira Team, we ALREADY support this out-of-the-box.

We even added it to every App 2 weeks ago instead of only select Apps.

[2021-11-10 08:53] fire opened #239 "Provide a template chart"
Like a chart that serves a plain html that returns the string truenas allowing the option to use the truenas cert.

[2021-11-10 10:07] fire opened #240 "Example is missing a label"
`variable:` Should have a label.

[code]

[2021-12-07 23:30] fire opened #258 "Truenas Scale Charts should be able to use unmodified helm3 charts"
## Context and Problem Statement

It would help development if one can import helm3 charts for kubernetes directly into truenas scale's charts as is.

## Describe the proposed option and how it helps to overcome the problem or limitation

We should be able to run helm3 charts in a degraded state.

## Describe how your proposal will work, with code, pseudo-code, mock-ups, or diagrams

Auto import t

[2021-12-09 12:34] sonicaj commented on #258
@fire to clarify, are you saying that you want the ability to consume any helm chart via UI ?

[2021-12-09 13:45] fire commented on #258
Yes consuming any helm chart would be ideal. I thought about how to provide a UI config for external helm charts but don’t have a design.

[2021-12-12 22:22] chxbw opened #264 "Suggest adding Jellyfin Service"
This server is easy and free,it can be accelerated using NVIDIA graphics card,an it is open source
Please adding
Thank ~~

[2021-12-12 22:25] chxbw commented on #264
i hope SC and Core both adding
A good man has a big penis！！！！！！！！once at 18H！！！！！

[2021-12-13 05:55] sonicaj commented on #258
We don't support that as we expect a certain format to be defined which we can use to dynamically generate the UI and validate schema. However please feel free to create a suggestion ticket at https://jira.ixsystems.com outlining how you think it should work and we can then move from there. Thanks!

[2021-12-13 05:55] #258 closed

[2021-12-13 05:56] sonicaj commented on #264
@chxbw please create a suggestion ticket at https://jira.ixsystems.com. Thanks!

[2021-12-13 05:56] #264 closed

[2021-12-13 07:09] sonicaj commented on #239
@fire can you please clarify what you would like us to do ? I am not really sure i follow the html bit. Thanks!

[2021-12-13 09:20] fire commented on #239
Make a sample chart that shows how to use the wizard.

[2021-12-13 09:24] fire commented on #258
I am not sure how creating a ticket in jira will help. I prefer to work in the open, but thanks for the request.

[2021-12-13 09:29] #240 closed

[2021-12-22 17:07] tvanbolderen opened #272 "Plex upgrade fails when GPU is allocated"
While upgrading Plex (`1.24.5.5173_1.6.12` -> `1.25.2.5319_1.6.15`) I get an error due to my App having a GPU reservation.

I think it might be because 1 GPU is already allocated and when I try to install a second instance of Plex it now shows 0 resources available. Which might be why the upgrade fails. Removing the Plex App and redeploying it fixes the issue as the GPU allocation was freed up.

S

[2021-12-22 17:18] sonicaj commented on #272
Thank you @tvanbolderen for letting us know about it, however can you please create an issue at https://jira.ixsystems.com and kindly make sure to upload a debug of your system ( System Settings -> Advanced -> Save Debug ) - we can take it from there then ( btw it looks like you don't have gpu available anymore but the debug should tell us more ). Thanks!

[2021-12-22 17:18] #272 closed

[2022-01-05 12:33] peterge1998 opened #287 "[SCALE] Official Nextcloud 23 won't update"
![image](https://user-images.githubusercontent.com/47355238/148218173-80009000-e838-4306-8384-ef28c7cfc85d.png)

![image](https://user-images.githubusercontent.com/47355238/148218189-9093f34d-9e3b-41e5-b0fc-8fd0ffbcc931.png)

Hey, I have Nextcloud V23_1.3.11 installed. It shows Update available under Applications > Installed Applications. When I try to update the app, it is showing the upgrading..

[2022-01-05 14:12] sonicaj commented on #287
@peterge1998 this has been resolved in latest nightlies https://jira.ixsystems.com/browse/NAS-114031.

[2022-01-05 14:12] #287 closed

[2022-01-05 14:12] sonicaj commented on #287
If you would like to manually resolve this, you can do so by stopping nextcloud app and deleting the nextcloud:23 docker image and then starting the app again :)

[2022-01-07 08:51] quaint-engineer opened #289 "[Plex] Option to mount host path as read-only"
It would be helpful to configure Plex extra host path volumes as read only to prevent accidental deletion/modification to the original files/media that is mounted.

[2022-01-10 14:41] #289 closed

[2022-01-17 23:53] Ornias1993 commented on #51
Also a note here:
PDLib is not supported by nextcloud 23 docker due to it not being available in binary form for php8

[2022-01-20 04:34] Sagittarius opened #294 "machinaris chart should support shibgreen"
There is no shibgreen option with machinaris chart.
I hava modified, and do some optimizations. I will do a PR later

[2022-02-13 01:46] Supermagnum opened #332 "Machinaris does have permission issues."
Hello, my machinaris does not want to plot.
I am running the latest Truenas scale.

machinaris
v0.6.9_1.1.3

Ecc ram available: 58 Gib CPU: 2 X intel E5-2650 0 @ 2.00GHz

One 2TB sata spinning disk with the following paths mentioned below ( host path for config and plots)
The pod/docker is set up as follows per this guide: https://github.com/guydavis/machinaris/wiki/TrueNAS

Host Path for Machinar

[2022-02-13 11:03] Supermagnum commented on #332
I have tried to set the permissions manually, like this.. But still the same issue with Failed to write to finaldir directory: '/plots1/'
![Skjermbilde fra 2022-02-13 00-41-20](https://user-images.githubusercontent.com/4554462/153750138-17a0b765-bdf8-40c5-a9ba-24f10bcac646.png)

[2022-02-22 09:27] mrtolkien opened #353 "NextCloud install failing"
Default options, coming from a fresh install yesterday:
[code]

[2022-02-22 16:55] #353 closed

[2022-03-14 17:06] frell opened #373 "Nextcloud missing smbclient debian package on ngix container"
In order for nextcloud to make use of the common external storage feature, it requires the smbclient debian package to be installed.

Manually installing it via apt to the ngix container resolves the issue.

Thanks.

[2022-04-05 00:58] dbb12345 opened #402 "MAchinaris Version"
Any chance of having the chia version or atleast the Machinaris version tied to the version number in TNS?  Is it deprecated?  Does not appear to be updated in a while and without some sort of version reference it is hard to justify downloading what could be an old version.  I guess I could check the code but is a lot of work for a simple task.  It is an official app so maybe give a little love?

[2022-04-05 18:53] #402 closed

[2022-04-08 16:07] sonicaj commented on #373
@frell please open up an issue with upstream nextcloud team so that they can add it in the docker image. We can't unfortunately do it as it would mean maintaining our own version of nextcloud based on upstream with just this package addition. Thanks!

[2022-04-08 16:07] #373 closed

[2022-04-20 01:10] dkuchay opened #430 "172 ip address"
Trying to install a series of apps and while nextcloud works I cant get nzbget, sonarr, radarr, or lidarr to install. They all fail on a 172 ip address connection test that fails. Is it that nextcloud can rewite its url and the others cant? If my suspicion is right why the 172 hard coded? Never have seen that ip range in a residential setting. Usually 10.x.x.x or 192.x.x.x. Cant install any of the

[2022-04-20 15:43] packruler opened #431 "Unhealthy charts break all TrueNAS chart updates"
In the last week or so I have noticed that a growing (though slowly) number of charts are unhealthy. I have a feeling that this is a local issue considering I have found no mention of anything similar in sporadic deep searching dives during this period.
I am getting this warning in my notifications:
[code]

When I check the Apps > Available Applications tab I see only the unhealthy apps mentioned:

[2022-04-20 15:51] dkuchay commented on #430
Thank you for your reply. I will. Tinkered with more and in application advanced settings my node IP address was stuck on 0.0.0.0 and not changeable. Thinking this may have caused apps to take internal container address and fail on self check. Using two port intel nic card. Some tutorials I saw mentioned setting this node IP address to the ip of the host to map the app to host ip. If this is true

[2022-04-20 16:28] packruler commented on #430
To select a non 0.0.0.0 bind IP I think you will need to apply a static IP to those Network Interfaces in the TrueNAS UI. But for simplicity utilize the TrueCharts system and read over their documentation. Their systems will handle setting up a port binding for you without host binding.

[2022-04-21 11:02] sonicaj commented on #431
@packruler can you please create an issue at https://jira.ixsystems.com and kindly make sure to attach a debug of the system. Something seems amiss with your local cloned version of the catalog but we'll confirm ofc and go from there. Thanks!

[2022-04-21 11:02] #431 closed

[2022-04-21 11:08] sonicaj commented on #430
@dkuchay kubernetes has a CIDR which it uses to deploy pods - you can configure that value via advanced settings in the UI. About the bind IP, @packruler statement is accurate that you need static IP in order to configure that.

Now about the apps failing, it seems like it's an app issue rather then a TrueNAS SCALE issue as nextcloud deployed fine for you. Can you provide more context about the fa

[2022-04-21 12:45] dkuchay commented on #430
With static ip set on one nic I revisited apps settings advanced and still could not set ip for node. Stuck on 0.0.0.0. Tried each nic from dropdown. If I can not set this for host ip it would make sense that an app that can rewrite its url could discover that ip and the url I gave it matched at my local dns. Apps that did not have url rewrite module enabled / supported failed to deploy as their i

[2022-04-21 14:16] sonicaj commented on #430
I'm sorry, i don't understand the problem. Is your problem that you are unable to set the statically configured IP for Apps or is it some thing else ?

[2022-04-21 14:33] dkuchay commented on #430
The issue is that the ip for nodes in apps settings advanced is stuck on 0.0.0.0 and cannot be changed even with static ip set on both nics.

Sent from my iPhone

[2022-04-21 14:34] sonicaj commented on #430
To confirm @dkuchay did you configure static IP via TrueNAS UI ?

[2022-04-25 11:16] exander77 opened #440 "Launch Docker Image not exposing ports to node"
When I ran docker image through Launch Docker Image feature, the ports are not exposed to node or some internal routing issue is in play as I can't even access the application locally through ClusterIP.

[code]

When I expose application to dedicated IP then the connection through local network works, but TrueNAS cannot access the IP as well:

[code]

[2022-04-25 11:22] exander77 commented on #440
Ok, for this to work, you need to "Provide access to node network" and disable rolling update.

[2022-04-25 22:16] sonicaj commented on #440
@exander77 can you please create an issue at https://jira.ixsystems.com ? Please make sure you have reproduce the problem and clarified what your current configuration is. You should attach the output of the command `midclt call chart.release.get_instance 'APPNAMEHERE' | jq` and the debug of the system as well right after reproducing it. Thanks!

[2022-04-25 22:16] #440 closed

[2022-04-30 07:08] Ornias1993 commented on #430
You still seem to think this is somehow related to TrueCharts.
These are **only** the official iX-Systems Apps, we're not present here nor can you get support for our Apps here (like sonarr, radarr etc), please carefully read our website if you still think this is related to TrueCharts.

[2022-05-16 13:07] frznfngrs opened #449 "Nextcloud postgres fails to start"
root@truenas:~# 2022 May 16 08:00:54 truenas Process 4037959 (postgres) of user 999 dumped core.
**The following cli message is printed on container failing to start**
Stack trace of thread 26:
#0  0x00007f73f2fb17bb n/a (/lib/x86_64-linux-gnu/libc-2.28.so + 0x377bb)
#1  0x0000560c72c06a1d n/a (/usr/lib/postgresql/13/bin/postgres + 0x15ea1d)
#2  0x0000560c72e1ca63 n/a (/usr/lib/postgresql/13/bin/p

[2022-05-16 14:11] frznfngrs commented on #449
I fixed this by chmod +x /usr/bin/apt on truenas scale machine
then installing postgres-13
then creating a user to match uid 999 which owned the postgres data directory
then running
sudo -u 999 /usr/lib/postgresql/13/bin/pg_resetwal -f --pgdata /mnt/Vol2/ix-applications/releases/nextcloud/volumes/ix_volumes/ix-postgres_data

[2022-05-31 05:51] sonicaj commented on #449
@frznfngrs can you please create an issue at https://jira.ixsystems.com outlining how we can reproduce this issue and we can have this fixed then. Thanks!

[2022-05-31 05:51] #449 closed

[2022-06-10 03:49] anotb opened #505 "Plex 1.7.7 hostpath validation breaks installs with external data mounts"
The addition of hostpath validations break installs where a hostpath created in /mnt from an external share mounted using smb/nfs, rclone or mergerfs was being used as a data library.

Specifically in charts/plex/1.7.7/questions.yaml, the addition of
                        $ref:
                          - "validations/hostPath"

Any chance that can not be made mandatory? Would hate to have to ch

[2022-06-10 04:04] anotb commented on #505
JIRA request - https://jira.ixsystems.com/browse/NAS-116673

[2022-06-16 19:14] GitPullNow opened #528 "NextCloud: Module php-imagick in this instance has no SVG support. For better compatibility it is recommended to install it"
Please add the php-imagick SVG support.

`Module php-imagick in this instance has no SVG support. For better compatibility it is recommended to install it.`
![image](https://user-images.githubusercontent.com/94388268/174147470-365fb640-2017-4cc8-9d48-8acbcd177dac.png)

Version
![image](https://user-images.githubusercontent.com/94388268/174147797-7eebe707-2943-4924-8aff-b8b53fcba8fb.png)

[2022-06-16 19:18] GitPullNow opened #529 "NextCloud: Many cronjob containers keep spawning after restarting pods"
After enabling the cronjob option that was added I see that it seems to keep spawning cronjob containers which results in cronjob no longer working for NextCloud.

![image](https://user-images.githubusercontent.com/94388268/174148011-51e601f6-e97c-4a59-90c8-a49b27cbc852.png)

Version:
![image](https://user-images.githubusercontent.com/94388268/174148177-e3e350bc-34ab-4869-9436-24ca327fa988.png)

[2022-06-16 19:20] sonicaj commented on #528
@GitPullNow we use official nextcloud image. Please create an issue upstream with nextcloud to add this in their docker image. Thanks!

[2022-06-16 19:20] #528 closed

[2022-06-18 09:30] ancathri commented on #505
Saw this was rolled back in 1.7.8, but has since been re-introduced in 1.7.9. Was previously able to workaround by using extra hostpath volumes, but these have since had the validator applied as well.

Use case is similar to original issue, but I would like to be able to transcode to non-pool media

[2022-06-19 12:37] sonicaj commented on #505
@ancathri i am curious, what is your use case to use non-pool media for transcoding ? Can you clarify ?

[2022-06-19 13:25] ancathri commented on #505
@sonicaj I prefer to dump transcode stuff to memory, but I could see a similar case for a small dedicated SSD as well. Up until 1.7.7 I was just passing /dev/shm to /transcode in the container.

The nature of what it's doing is a lot of small, ephemeral reads/writes/deletes and I've got plenty of memory available. I don't need or care about it being persistent. Might as well reduce wear to spinnin

[2022-06-26 18:14] alucryd opened #555 "Emby: 4.8.0.x are betas"
Hi there, it looks like emby was bumped to 4.8.0.x, however these are betas and the last stable release is 4.7.5.0. In general, when the third digit is a 0 it means that it is a beta as far as emby is concerned.

Is it possible to downgrade to 4.7.5.0? I can make a PR if you'd like. Downgrading should not be a problem as databases are compatible across these 2 versions.

[2022-06-28 16:32] Qubad786 commented on #555
The version has been changed and upgrade strategy will be updated as well to account for the tag naming scheme wrt stable releases. Thanks @alucryd!

[2022-06-28 16:32] #555 closed

[2022-07-01 01:32] Chankster commented on #505
I would also appreciate an option to disable the validation for the path.

[2022-07-02 01:10] Chankster commented on #505
request seems to be missing now?

[2022-07-07 18:41] tiagogaspar8 opened #587 "Plex can't start sometimes "No such file or directory""
Hi,

I have an issue where always after a reboot plex can't start. These are the logs on the pod:
[code]
And it repeats on and on, forever until the pod is stopped.
I didn't configure much from the default config when creating the pod.

Thanks.

[2022-07-08 08:24] tiagogaspar8 commented on #587
Done https://ixsystems.atlassian.net/browse/NAS-117109

[2022-07-16 03:13] zacbrown opened #602 "Plex: not all Plex server ports are exposed"
Hi,

I'm having trouble with the Plex chart due to it not exposing all the ports that Plex supports[0](https://support.plex.tv/articles/201543147-what-network-ports-do-i-need-to-allow-through-my-firewall/).

As currently setup, it only exposes the primary port - 32400. However, Plex includes a DLNA server as well as some other auto-discovery ports:

[code]

I'm not familiar with Helm charts and wa

[2022-08-02 09:46] Ornias1993 commented on #602
- DLNA cannot work out-of-the-box anyway (cannot do so cross NAT)
- The older discovery protocol also cannot work out-of-the-box (cannot do so cross NAT) and is depricated
- GDM discovery isn't really needed when a token is used on install. Simply put: Your client will fetch the announced url/ip from the plex servers and broadcasts to all of those, untill one responds which works quite well.

Ther

[2022-08-02 09:47] Ornias1993 commented on #529
Every run of the Cronjob *should* spawn a new container. That's normal.

So it's not clear how you came to the conclusion that this would be breaking things.

[2022-08-02 09:51] Ornias1993 commented on #505
Mounting `/dev/shm` is not correct with kubernetes
You should be using emptyDir volume type with `memory` backend. This is not exposed on the official Apps (it is with TrueCharts, for example).

It's not a user validation, it's a security feature to prevent app creators inherently bricking yours NAS ;-)

[2022-08-02 13:51] sonicaj commented on #505
Closing this with this jira ticket https://ixsystems.atlassian.net/browse/NAS-117484

[2022-08-02 13:51] #505 closed

[2022-08-20 21:18] Vrtak-CZ opened #691 "Nextcloud: possibility to allow bigger file uploads"
Currently webdav ending with `413 Request Entity Too Large`. It probably could be done by setting `PHP_UPLOAD_LIMIT` env variable.

[2022-08-21 11:16] sonicaj commented on #691
@Vrtak-CZ can you please create a ticket at ixsystems.atlassian.net ? We can cater to this then by allowing users to configure this. Although iirc you should be able to set up that env variable right now yourself as required. Thanks!

[2022-08-21 11:16] #691 closed

[2022-08-27 13:51] meilon opened #703 "Update to Machinaris"
Why hasn't there been any update to the Machinaris chart? 0.8.2 has been out a while

[2022-08-30 16:23] Qubad786 commented on #703
Updated: https://github.com/truenas/charts/pull/708

[2022-08-30 16:23] #703 closed

[2022-09-01 23:18] djarbz opened #715 "Nextcloud: Can't set Environment Variables"
I am looking to tune some PHP settings such as below, but there is no option to set environment variables when I edit the app.

[code]

[2022-09-08 14:36] #715 closed

[2022-09-13 18:30] madeofstars0 opened #731 "[emby] HostNetworking=true does not successfully install"
[code]

TrueNAS doesn't allow ports below 9000, but selecting hostNetworking and configuring/exposing port 9096 leads to the above error. It successfully works when HostNetworking=false, but I want emby to have its own networking.

Full Error:

[code]

[2022-09-16 22:30] Vrtak-CZ commented on #691
fixed by https://github.com/truenas/charts/pull/722

[2022-09-28 20:15] Darkknight33 opened #762 "Storj Chart needs to expose TCP and UDP"
With the storj app installed, I am unable to get Quic function because UDP is not being forwarded. Looking at the installed application indicates: Used Ports: 20909\TCP, 28967\TCP. It should be: 28967\TCP/UDP. There does not seem to be an obvious way to affect this change from the GUI.

[2022-09-29 15:02] Qubad786 commented on #762
@Darkknight33 `kubectl` correctly reports that relevant UDP ports are functioning
[code]
![Screenshot 2022-09-29 at 8 02 23 PM](https://user-images.githubusercontent.com/7848408/193067691-f8b5f420-a28d-4053-8f48-b76f014277ec.png)

And QUIC is working nicely..

[2022-09-29 17:05] Darkknight33 commented on #762
![image](https://user-images.githubusercontent.com/571187/193093741-6acf6167-7b53-46f9-9e6d-817e5a7dab36.png)

There is no user control for which protocols are forwarded. So, I believe the error is in the orchestration.

![image](https://user-images.githubusercontent.com/571187/193094127-86a2d3ac-6c7a-411a-8702-e76e7915d853.png)

[2022-10-11 07:49] dkuchay commented on #430
As well as via MAC address at switch, yes.

Sent from my iPhone

[2022-10-11 09:02] Ornias1993 commented on #762
You can try the TrueCharts storj-node app and see if that works more like you prefer?

[2022-10-11 09:03] Ornias1993 commented on #602
@sonicaj or @Qubad786 can be closed.

[2022-10-11 09:03] Ornias1993 commented on #529
@sonicaj or @Qubad786 can be closed.

[2022-10-11 09:04] Ornias1993 commented on #143
@sonicaj or @Qubad786 can be closed.

[2022-10-11 09:06] Ornias1993 commented on #239
You have multiple charts here that already show multiple ways of doing questions.yaml.
I do agree iX should make a special example questions.yaml with extreme amounts of commenting to highlight how it works.

But a chart itself is a bit too much for something that is basically a single file.

[2022-10-11 09:06] Ornias1993 commented on #430
@sonicaj or @Qubad786 I think at this point IF it's a bug it needs to be -> Jira and closed here.
If it's not it needs to be closed anyway.

[2022-10-11 14:25] sonicaj commented on #430
@dkuchay please create an issue at ixsystems.atlassian.net and do attach a debug of your system with the output of `midclt call interface.query | jq` command as well. Thanks!

[2022-10-11 14:25] #430 closed

[2022-10-11 14:31] dkuchay commented on #430
Summery, when one reinstalls the operating system it does not check the array for previous data stores. When I reinstalled the data store went corrupted. Deleting and reinstalling works better however I am no longer with truenas installed. I’m not rich. Can’t buy all hdd’s in one swoop so I installed commercial Linux with btrfs file system that can be added to same array. Industrial kubernetes not

[2022-10-12 02:42] Darkknight33 commented on #762
Well, it's not really so much as 'work as I prefer' rather that installing it from the GUI currently presents a problem.

The code [here](https://github.com/truenas/charts/blob/master/charts/storj/1.0.0/templates/service.yaml ) includes an entry for UDP, so that being the case, why is it not exposing UDP protocol when deploying? I am not familiar enough with the product yet to troubleshoot this pr

[2022-10-12 05:15] Qubad786 commented on #762
@Darkknight33 if you look at the code you pointed out
[code]
both TCP and UDP are supported and as i shared in the screenshot in my earlier comment - kubernetes also correctly reports that both TCP/UDP are forwarded and storj QUIC is working nicely..

Can you confirm if this might be an issue on your router end perhaps where you are configuring port forwards to your SCALE machine?

[2022-10-12 09:34] sonicaj commented on #602
@zacbrown i am closing this issue in light of the comments above, please feel free to create a suggestion ticket at https://ixsystems.atlassian.net if you think we are missing some aspect. Thanks!

[2022-10-12 09:34] #602 closed

[2022-10-12 12:16] Darkknight33 opened #794 "l"

[2022-10-12 12:24] Darkknight33 commented on #762
Here is the specific firewall rule:
![firewall rule](https://user-images.githubusercontent.com/571187/195340835-70147542-2c2a-481e-9233-a7d4f1d79fef.png)

Here is the same kubectl command you used, but showing UDP is _not_ forwarded:
![kubectl](https://user-images.githubusercontent.com/571187/195340842-a90ddbe6-f59d-429f-89aa-379f68715b16.png)

Here is docker environment variables from container s

[2022-10-12 12:28] sonicaj commented on #762
@Darkknight33 can you share the output of the following command as well please ?
[code]

[2022-10-12 13:06] sonicaj commented on #143
@Saberwolf64 we allow mounting host paths inside the app. Apart from that ensuring that the docker image has support for specific features, i am sorry we wouldn't be ensuring that as we have no intention of shipping our own image for plex. We are using upstream docker image of plex - so feel free to create an issue with them please to request that they add proper support on that end. If you notice

[2022-10-12 13:06] #143 closed

[2022-10-12 13:15] Ornias1993 commented on #762
What I meant with that is "It might not have this issue and you'll be off with less work involved"

[2022-10-12 14:24] sonicaj commented on #529
@GitPullNow we only keep failed cronjob pods around - if you are still seeing this behaviour on latest app version, please let us know on https://ixsystems.atlassian.net ( kindly make sure to attach a debug of your system ). Thanks!

[2022-10-12 14:24] #529 closed

[2022-10-12 15:00] Ornias1993 commented on #762
To be honest, that's somewhat a wrong expectation.
Considering they have a "not really functional" pihole app, because they don't want it exposed to port 53, which makes it useless for the VAST majority of users.

[2022-10-13 10:05] sonicaj commented on #762
@Darkknight33 can you please create an issue at https://ixsystems.atlassian.net and kindly make sure to attach a debug of your system.

It's possible something might be wrong with the chart or your SCALE version and we might have to setup a teamviewer session if we can't spot it from the debug. Anyways, thank you for letting us know about it - looking forward to that ticket with debug. Thanks!

[2022-10-13 10:05] #762 closed

[2022-10-22 00:23] jquiros2 opened #808 "Is it possible to update docker images in these official charts?"
I'm using "official" Photoprism from these in Truenas Scale.

The docker image used seems rather old.  Is there a way to update the version while still using this catalog,  or should I use Truecharts which gives newer versions more quickly?  Or just use a regular docker image with "Launch docker image?"

Or should I fork this and edit version to be "latest" in the chart's yaml file?

[2022-10-24 15:28] msdmcmurrian opened #810 "Plex Application failing to start"
I have been getting this error for the last few weeks and have not found a solution to fixing it. No matter what I do Plex will not run.

s6-applyuidgid: fatal: unable to exec /usr/lib/plexmediaserver/Plex Media Server: No such file or directory

[2022-10-26 16:12] #808 closed

[2022-10-26 16:13] Qubad786 commented on #808
@jquiros2 it should be fixed now - our update strategy was outdated for photoprism

[2022-10-28 01:46] jquiros2 commented on #808
Thank you @Qubad786!
I had made the same edits in ../ix-applications/releases/photoprism/charts but still worried about losing them on an update.  This seals it solid!

[2022-10-29 01:54] LtDragon commented on #810
I'm having the same issue. I'm not sure what the issue is.
It was running correctly then just stopped working.

[2022-10-31 09:38] sonicaj commented on #810
@LtDragon / @msdmcmurrian can you please create an issue at ixystems.atlassian.net ? ( kindly make sure to attach a debug of your system ) Thanks!

[2022-10-31 09:38] #810 closed

[2022-11-07 11:26] johnhart96 opened #843 "Nextcloud is missing SMB client."
Hi Guys,
I use the nextcloud chart on my TrueNAS server for my business. I use the external storage with SMB but everytime I update it, it is missing the SMB extensions. I have to jump into the shell and run
`apt update`
`apt install samba smbclient cifs-utils`

Would it be possible to have this added to the docker image?

Thanks
John :)

[2022-11-08 08:14] bobdubois opened #847 "Wrong Kubernetes "route" exposed in TrueNAS Scale 2022-02"
When deploying Photoprism from the Official catalog in TrueNAS Scale (v. 2022-02) it comes with a default route ("web portal") that goes to address:20800/admin. However the /admin is not found and rather the correct route should be simply address:20800 (or whatever port it listens on).

[2022-11-13 13:13] stavros-k commented on #847
Fixed in #849

[2022-11-13 13:13] #847 closed

[2022-11-19 21:09] Ornias1993 commented on #843
TrueNAS uses the official image without modifications.
It's actually kinda awkward that there is no official image with those modifications tbh.

The TrueCharts version (and image) does have those modifications included though :)

[2022-11-20 10:27] sonicaj commented on #843
@johnhart96 we won't be maintaining a separate image for nextcloud - i would advise you to raise this issue upstream ( i have seen earlier reports of this there already though ), for us to maintain these packages and ensure they work out of the box with nextcloud is not something we are open to at the moment. Thank you :)

[2022-11-20 10:27] #843 closed

[2022-11-20 11:11] Ornias1993 commented on #843
Agreed, it's an expodential amount of work...

[2022-11-20 15:16] UnderEu opened #874 "[Syncthing] Sync does not work over IPv6 - Host Networking = ON"
Self explanatory title, the Syncthing (Official) app does not sync content over IPv6, the only thing working over v6 is the web interface (TCP 8384) and Listener (TCP 22000)

Port scanning from my computer to my server:

$ nmap -6 -p- ***SERVER***.local
Starting Nmap 7.80 ( https://nmap.org ) at 2022-11-20 12:07 -03
Nmap scan report for ***SERVER***.local (*** REDACTED ***)
Host is up (0.0025s lat

[2022-11-30 12:22] #731 closed